KRAKEN_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/+XXXXXXXXXXX/XXXX'
KRAKEN_SECRET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX/XXXXXXXXXXXXXX+XXXXXXXXXXXXXXXXXXXXXXXXXXXXX=='
BINANCEUS_KEY='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
BINANCEUS_SECRET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
COINBASEADV_KEY='organizations/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/apiKeys/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
COINBASEADV_SECRET='-----BEGIN EC PRIVATE KEY----- XXXXXXXXXXXXXXXXXXXXXXXXXXXX/XXXXXXXXXXXXX/XXXXXXXXXXXXXXXXXXXXX\XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX== -----END EC PRIVATE KEY-----'
COINBASE_KEY='organizations/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/apiKeys/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
COINBASE_SECRET='-----BEGIN EC PRIVATE KEY----- XXXXXXXXXXXXXXXXXXXXXXXXXXXX/XXXXXXXXXXXX/XXXXXXXXXXXXXXXXXXXXX\XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX== -----END EC PRIVATE KEY-----'
BASE_WALLET='XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
PAPER_MODE='false'
MIN_PROFIT_THRESHOLD='0.5'
MAX_TRADE_SIZE_PCT='30'
DEFAULT_STAKE_COIN='ETH'
TRANSFER_STABLE='USDT'
WITHDRAW_ENABLED='false'
ALERT_EMAIL='mrahim_md@icloud.com'
WEBHOOK_PASSPHRASE='secretphrase'
GOLD_SWEEP_MAX_PER_MONTH='2'
A_BOT_COINS='BTC,ETH,SOL,XRP,HBAR,LINK'
LATENCY_MODE='laptop"